<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.rijksoverheid.rdw.rde.client">
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RDESample">
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ScanApiTokenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_scan_token"
            android:theme="@style/Theme.RDESample.Fullscreen">
        </activity>
        <activity
            android:name=".activities.EnrollmentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.EnrollmentReadDocumentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MessagesListActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.DecryptMessageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ShowMessageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.TestRdeDecryptionActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.TestRdeRoundTripActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.TestCrossPlatformDecryptionActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.TestRdeEnrollmentActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.TestCaSessionActivity"
            android:exported="true"></activity>
    </application>

</manifest>